<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Crea tus Montajes Digitales</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='inicioproyecto.css') }}>
</head>
<body>
    <div class="container">
        <h1 class="titulo">Crea tus Montajes Digitales en Pocos Minutos</h1>
        <p class="subtitulo">Aprende todo en este corto video de 5 minutos</p>
        
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/vDKTkYz_cy4" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</body>
</html>
